<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  {{> metas}}
  <title>千里眼</title>
  {{>scripts}}
  <link href="./../styles/test.css" rel="stylesheet">
</head>

<body>
<div class="t-body">
  <div class="test  icon-anys">

  </div>

  <form class="t-searchbar-wrap">
    <input type="url" placeholder="输入店铺或宝贝网址" name="v" value=""/>
    <button type="submit" class="btn btn-success"><em></em>搜索</button>
  </form>
  <div class="t-shops-wrap">
    <p>
    <h2>热门店铺</h2>
    <div class="t_select">

    </div>
    </p>
    <ul class="t-shops clearfix">
      <li class="t-shop" data-sid="1234">
        <div class="t-shop-main">
          <div class="t-shop-logo pull-left">
            <a href=""><img src="http://placehold.it/70x70"></a>
          </div>
          <div class="t-shop-detail pull-left">
            <div class="t-shop-title">
              <span>优衣库官方旗舰店</span>
            </div>
            <div class="t-shop-level">
              <em class="t-credit-icon-15"></em>
            </div>
            <div class="clearfix t-shop-name">
              <a class="pull-left" href="" target="_blank">优衣库官方旗舰店</a>
              <span class="pull-right">上海</span>
            </div>
            <div class="clearfix t-shop-stat">
              <span class="pull-left">月销量248794</span>
              <span class="pull-right">共15000件宝贝</span>
            </div>
          </div>
          <div class="pull-left products">
            <ul class="pro-wrap">
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <p class="t-shop-more">
          <a href="#" class="more">更多</a>
        </p>
        <a href="#" class="t-shop-gz">
          关注
        </a>
      </li>
      <li class="t-shop" data-sid="1234">
        <div class="t-shop-main">
          <div class="t-shop-logo pull-left">
            <a href=""><img src="http://placehold.it/70x70"></a>
          </div>
          <div class="t-shop-detail pull-left">
            <div class="t-shop-title">
              <span>优衣库官方旗舰店</span>
              <em class="t-credit-icon-15"></em>
            </div>
            <div class="clearfix t-shop-name">
              <a class="pull-left" href="" target="_blank">优衣库官方旗舰店</a>
              <span class="pull-right">上海</span>
            </div>
            <div class="clearfix t-shop-stat">
              <span class="pull-left">月销量248794</span>
              <span class="pull-right">共15000件宝贝</span>
            </div>
          </div>
          <div class="pull-left products">
            <ul class="pro-wrap">
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <p class="t-shop-more">
          <a href="#" class="more">更多</a>
        </p>
        <a href="#" class="t-shop-gz">
          关注
        </a>
      </li>
      <li class="t-shop" data-sid="1234">
        <div class="t-shop-main">
          <div class="t-shop-logo pull-left">
            <a href=""><img src="http://placehold.it/70x70"></a>
          </div>
          <div class="t-shop-detail pull-left">
            <div class="t-shop-title">
              <span>优衣库官方旗舰店</span>
              <em class="t-credit-icon-15"></em>
            </div>
            <div class="clearfix t-shop-name">
              <a class="pull-left" href="" target="_blank">优衣库官方旗舰店</a>
              <span class="pull-right">上海</span>
            </div>
            <div class="clearfix t-shop-stat">
              <span class="pull-left">月销量248794</span>
              <span class="pull-right">共15000件宝贝</span>
            </div>
          </div>
          <div class="pull-left products">
            <ul class="pro-wrap">
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <p class="t-shop-more">
          <a href="#" class="more">更多</a>
        </p>
        <a href="#" class="t-shop-gz">
          关注
        </a>
      </li>
      <li class="t-shop" data-sid="1234">
        <div class="t-shop-main">
          <div class="t-shop-logo pull-left">
            <a href=""><img src="http://placehold.it/70x70"></a>
          </div>
          <div class="t-shop-detail pull-left">
            <div class="t-shop-title">
              <span>优衣库官方旗舰店</span>
              <em class="t-credit-icon-15"></em>
            </div>
            <div class="clearfix t-shop-name">
              <a class="pull-left" href="" target="_blank">优衣库官方旗舰店</a>
              <span class="pull-right">上海</span>
            </div>
            <div class="clearfix t-shop-stat">
              <span class="pull-left">月销量248794</span>
              <span class="pull-right">共15000件宝贝</span>
            </div>
          </div>
          <div class="pull-left products">
            <ul class="pro-wrap">
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <p class="t-shop-more">
          <a href="#" class="more">更多</a>
        </p>
        <a href="#" class="t-shop-gz">
          关注
        </a>
      </li>
      <li class="t-shop" data-sid="1234">
        <div class="t-shop-main">
          <div class="t-shop-logo pull-left">
            <a href=""><img src="http://placehold.it/70x70"></a>
          </div>
          <div class="t-shop-detail pull-left">
            <div class="t-shop-title">
              <span>优衣库官方旗舰店</span>
              <em class="t-credit-icon-15"></em>
            </div>
            <div class="clearfix t-shop-name">
              <a class="pull-left" href="" target="_blank">优衣库官方旗舰店</a>
              <span class="pull-right">上海</span>
            </div>
            <div class="clearfix t-shop-stat">
              <span class="pull-left">月销量248794</span>
              <span class="pull-right">共15000件宝贝</span>
            </div>
          </div>
          <div class="pull-left products">
            <ul class="pro-wrap">
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <p class="t-shop-more">
          <a href="#" class="more">更多</a>
        </p>
        <a href="#" class="t-shop-gz">
          关注
        </a>
      </li>
      <li class="t-shop" data-sid="1234">
        <div class="t-shop-main">
          <div class="t-shop-logo pull-left">
            <a href=""><img src="http://placehold.it/70x70"></a>
          </div>
          <div class="t-shop-detail pull-left">
            <div class="t-shop-title">
              <span>优衣库官方旗舰店</span>
              <em class="t-credit-icon-15"></em>
            </div>
            <div class="clearfix t-shop-name">
              <a class="pull-left" href="" target="_blank">优衣库官方旗舰店</a>
              <span class="pull-right">上海</span>
            </div>
            <div class="clearfix t-shop-stat">
              <span class="pull-left">月销量248794</span>
              <span class="pull-right">共15000件宝贝</span>
            </div>
          </div>
          <div class="pull-left products">
            <ul class="pro-wrap">
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
              <li>
                  <span class="pro-top">
                    1
                  </span>
                <a href="#" class="alink">
                  <img src="http://placehold.it/80x80/E782B4" alt="">
                </a>
                <div class="price">
                  ￥122
                </div>
                <div class="num">
                  月销40
                    <span class="down">
                      下降
                    </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <p class="t-shop-more">
          <a href="#" class="more">更多</a>
        </p>
      </li>
    </ul>
    <div class="t-shop-change">
      <a href="#" class="btn-success btn">
        换一批
      </a>

    </div>
  </div>
</div>
<script src="/scripts/test.js"></script>
</body>
</html>
